<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Image Quiz</title>
</head>
<body>
<h2>Create Image Quiz</h2>
<form id="imageQuizForm" enctype="multipart/form-data">
    <label for="question">Question:</label><br>
    <input type="text" id="question" name="question"><br>
    <label for="hint">Hint:</label><br>
    <input type="text" id="hint" name="hint"><br>
    <label for="image">Images:</label><br>
    <input type="file" id="image" name="images" multiple><br><br>
    <button type="submit">Submit</button>
</form>

</body>
</html>

